body {
  margin: 0;
  width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
}
.wrap {
  margin: 0 12%;
  border: none;
  padding: 0;
}
nav {
  margin-top: .5%;
  padding-left: 2%;
  margin-bottom: 0;
}
nav a {
  margin-right: 3%;
  text-decoration: none;
  color: #6C6C6C;
}
nav a:hover {
  color: black;
  font-weight: bold;
}
.background {
  margin: auto;
  margin-top: 1%;
  max-width: 100%;
}

.bg-image {
  /*max-width: 100%;*/
  background-size: cover;
  height: 318px;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
}

h2 {
  margin: 0;
  font-size: 42px;
  position: absolute;
  top: 150px;
  left: 40%;
  color: white;
  text-align: center;
  text-shadow: black;
  /*background-color: red;*/
}

.main-dody {
  /*margin: auto;*/
  margin-left: 12%;
  text-align: center;
  /*background-color: lightblue;*/
  width: 80%;
}

.personal {
  width: 29%;
  float: left;
  margin-left: 2%;
  background-color: #4D9258;

}
.small-business {
  width: 29%;
  float: left;
  margin-left: 2%;
  background-color: #2D4A81;

}
.Enterprise {
  width: 29%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #111111;
}

.plan {
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  list-style: none;
  text-align: center;
  /*background-color: #4D9258;*/
  color: white;
}
.type {
  letter-spacing: .25em;
}
.price {
  font-size: 70px;
}
.month {
  font-size: 20px;
  color: #CBCBCB;
  padding-bottom: 3%;
}
.features {
  margin-top: 0;
  padding-top: 1%;
  padding-left: 0;
  padding-right: 0;
  border-style: solid;
  border-top: none;
  background-color: #F7F7F7;
  border-color: #DFDFDF;
  border-width: 2px;
}
.features p {
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-width: 2px;
  padding-bottom: 4%;
  margin-bottom: 0;
  margin-top: 2%;
}

.click {
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  list-style: none;
  text-align: center;
  background-color: white;
  /*border-radius: 40px;*/
}
.click button {
  padding: 3% 5%;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #DFDFDF;
}

.Paragraphs {
  margin-top: 5%;
  margin-left: 2%;
  text-align: left;
  /*display: inline;*/
}

.para {
  padding: 2%;
  max-width: 42%;
  float: left;
  margin-right: 1%;
  margin-top: 2%;
}
h3 {
  letter-spacing: .25em;
}
footer {
  clear: both;
  height: 5%;
  color: #6C6C6C;
  text-align: center;
  background-color: black;
  margin: 0;
  margin-top: 1%;
  padding: 0;
}
footer p {
  padding-top: 2%;
}
footer p color {
  color: white;
  text-decoration: underline;
}
footer p color:hover {
  font-weight: bold;
  text-decoration: none;
}
