body {
  width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
}

nav {
  color: solid grey;
  padding-left: 2%;
}

.background {
  margin: auto;
  margin-top: 2%;
  max-width: 100%;
  /*background-color: solid blue;*/
}

.bg-image {
  /*max-width: 100%;*/
  background-size: cover;
  height: 300px;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
}

h2 {
  margin: 0;
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 40%;
  color: white;
  text-align: center;
  text-shadow: black;
  /*background-color: red;*/
}

.main-dody {
  margin: auto;
  text-align: center;
  /*background-color: lightblue;*/
  width: 90%;
}

.personal {
  width: 30%;
  float: left;
  margin-left: 2%;
  background-color: #4D9258;

}
.small-business {
  width: 30%;
  float: left;
  margin-left: 2%;
  background-color: #2D4A81;

}
.Enterprise {
  width: 30%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #111111;

}

.plan {
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  list-style: none;
  text-align: center;
  /*background-color: #4D9258;*/
  color: white;
}
.price {
  font-size: 50px;
}
.month {
  color: #CBCBCB;
}
.features {
  margin-top: 0;
  padding-top: 2%;
  padding-left: 0;
  padding-right: 0;
  border-style: solid;
  border-top: none;
  background-color: #F7F7F7;
  border-color: #DFDFDF;
  border-width: 2px;
}
.features p {
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-width: 2px;
  padding-bottom: 4%;
}

.click {
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  list-style: none;
  text-align: center;
  background-color: white;
  /*border-radius: 40px;*/
}
.button {
  border-radius: 40px;
  /*border: 1px #DFDFDF;*/
}

.Paragraphs {
  margin: 5%;
  text-align: left;
  /*display: inline;*/
}

.para {
  padding: 2%;
  max-width: 45%;
  float: left;
}
footer {
  clear: both;
  height: 5%;
  color: #6C6C6C;
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
}
footer p {
  padding-top: 2%;
}
footer p color {
  color: white;
}
